{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-serv">
        <h1>Delineado de ceja</h1>
        <div class="cont-img" id="nosotros">
            <img src="{% static 'img/arreglo-ceja.jpeg' %}">
            
        </div>
        <div class="Text-servicios">
        <h2>Arreglo de bartba</h2>
         <p>Diseño, despunte y delineado con navaja.</p>
        </div>
        <div>
           <a href="{% url 'citas' %}"><button class="btn-d">Agendar cita</button></a>
       </div>
        
</section>
{% endblock %}
    
        
    