{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-serv">
        <h1>Delineado de contornos</h1>
        <div class="cont-img" id="nosotros">
            <img src="{% static 'img/desvanecido.jpeg' %}">
            
        </div>
        <div class="Text-servicios">
        <h2>Delineado de contornos</h2>
         <p>Solo incluye delineado de patilla y cuello.</p>
        </div>
        <div>
           <a href="{% url 'citas' %}"><button class="btn-d">Agendar cita</button></a>
       </div>
</section>
{% endblock %}