{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-serv">
        <h1>Cortes</h1>
        <div class="cont-img" id="nosotros">
            <img src="{% static 'img/corte-tijera.jpeg' %}">
        </div>
        <div class="Text-servicios">
         <h2>Corte a tijera</h2>
          <p>Corte de cabello a tijera realizado con las mejores tecnicas, incluye delineado de contornos con navaja y producto para fijacion de la eleccion del cliente.</p>
        </div>
    
        <div class="cont-img-1" id="nosotros">
            <img src="{% static 'img/desvanecido-alto.jpeg' %}">
        </div>
    
        <div class="Text-servicios">
            <h2>Desvanecido</h2>
             <p>Corte desvanecido alto, medio o bajo, a elección del cliente, incluye delineado de contornos con navaja y producto de fijación a elección del cliente.</p>
        </div>
    
        <div class="cont-img-2" id="nosotros">
            <img src="{% static 'img/desvanecido.jpeg' %}">
        </div>
    
    
         <!--texto con descripción -->
         <div class="Text-servicios">
            <h2>Delineado de contornos</h2>
             <p>Solo incluye el delineado del controno de patillas y cuello, no incluye desvanecido ni corte con tijera.</p>
        </div>

        <div>
            <a href="{% url 'citas' %}"><button class="btn-d">Agendar cita</button></a>
        </div>
    </div>
</section>
{% endblock %}
    
            