{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-serv">
        <h1>Mascarilla negra</h1>
        <div class="cont-img" id="nosotros">
            <img src="{% static 'img/mascarilla.jpeg' %}">
            
        </div>
        <div>
        <h2>Mascarilla negra</h2>
         <p>Aplicaciôn de mascarilla exfoliante, elimina puntos negros, piel seca e impurezas superficiales.</p>
         <div>
            <a href="{% url 'citas' %}"><button class="btn-d">Agendar cita</button></a>
        </div>
        </div>ton></a>
    </div>
</section>
{% endblock %}