{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
     <!--texto con descripción -->
     <div class="style-redes">
        <ul>
            <li>
                <a href="https://www.facebook.com/BarberiaGuzm/?locale=es_LA" target="_blank" class="facebook">Facebook</a>
            </li>
            <li>
                <a href="#" class="instagram">Instagram</a>
            </li>
            <li>
                <a href="whatsapp://send?phone=3311747515" class="whatsapp">Whatsapp</a>
            </li>
        </ul>
       
        
    </div>
</section>
{% endblock %}
