{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <img src="{% static 'img/beard-oil.jpg' %}" alt="pomada clasica">
    </div>
    <!--Texto y boton-->
    <div class="overlay-text">
        <h2 class="pomada-style">BEARD OIL</h2>
        <p>Pre Shave 2 en 1. previo al ritual de rasurado. evitando la irritación al deslizar la navaja.</p>
        <div class="pomada-style">
            <p>-Ideal para barbas largas</p>
            <p>-Efecto acondicionador</p>
            <p>-Suaviza, ablanda y proteje</p>
        </div>
      <p>60 ml</p>
    </div>

    <div>
        <img src="{% static 'img/beard-serum.jpg' %}" alt="pomada clasica">
    </div>

    <div class="overlay-text">
        
        <h2 class="serum-style">BEARD SERUM</h2>
        <p>Serum acondicionador de barba, evita la decoloración del vello.</p>
        <div class="serum-style">
            <p>-Braba y vigote suave</p>
            <p>-Hidrata y restaura la piel y el vello</p>
        </div>
      <p>60 ml</p>
    </div>
    
    
    <!--Texto y boton-->
    
</section>
{% endblock %}