{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-img-1">
        <img src="{% static 'img/after.jpg' %}" alt="pomada clasica">
    </div>
    <!--Texto y boton-->
    <div class="overlay-text">
        <h2 class="after-style">AFTER SHAVE</h2>
        <p>Loción que desinfecta y desinflama el area de rasurado.</p>
        <di class="after-style">
            <p>-Menta brasil</p>
            <p>-Cierra poros</p>
            <p>-Extracto de lechuga</p>
        </di>
      
        <p>250 ml</p>
</section>
{% endblock %}