{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <img src="{% static 'img/pomada-clasica.jpg' %}" alt="pomada clasica">
    </div>
    <!--Texto y boton-->
    <div class="overlay-text">
        <h2 class="pomada-style">POMADE CLASSIC</h2>
        <p>Pomada para un peinado fácil y con máxima flexibilidad.</p>
        <div class="pomada-style">
            <p>-Base agua</p>
            <p>-Termoprotectora</p>
            <p>-Sin residuos</p>
        </div>
      
        <p>115 gr</p>
    </div>
</section>
{% endblock %}