{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-img-1"> 
        <img src="{% static 'img/shampoo.jpg' %}" alt="pomada clasica">
    </div>
    <!--Texto y boton-->
    <div class="overlay-text">
        <h2 class="shampoo-style">DEEP CLEANSING GEL</h2>
        <p>Gel de limpieza profunda para rostro y barba.</p>
        <div class="shampoo-style">
            <p>-Hidrata.</p>
            <p>-Purifica</p>
            <p>-Limpia</p>
        </div>
      <p>120 ml</p>
    </div>
</section>
{% endblock %}