{% load static %}
<footer class="footer">
    <nav class="pie">
        <a href="{% url 'index' %}">Inicio</a>

        <!--Redes sociales-->
        <a href="https://www.facebook.com/BarberiaGuzm/?locale=es_LA" target="_blank"><i class="bi bi-facebook">Facebook</i></a>

        <a href="#" target="_blank"><i class="bi bi-instagram"></i>Instagram</a>

        <a href="{% url 'aviso' %}"><i class="bi bi-instagram"></i>Aviso de privacidad</a>

        <a href="{% url 'terminos' %}"><i class="bi bi-instagram"></i>Términos y condiciones</a>
    </nav>
</footer>