{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div class="cont-img" id="nosotros">
        <img src="{% static 'img/' %}">
    </div>
     <!--texto con descripción -->
     <div class="overlay-text">
        <h2>Delineado de contornos</h2>
         <p>Incluye delineado con navaja, contornos.<span id="textoOculto" style="display:none;">Nuestro compromiso es llevarte a los mejores destinos naconales e internacionales, contamos con mas de 20 años de experiencia.</span> <a href="#" id="enlaceLeerMas">Leer más...</a></p>
    </div>
    <div>
        <a href="{% url 'formStart' %}"><button class="btn-d">Empezar</button></a>
    </div>
</section>
{% endblock %}