{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
   
     <!--texto con descripción -->
     <div class="index-text">
        <h2>Nosotros</h2>
         <p>¡Agenda tu cita y descubre la experiencia de tener un momento para ti! <span id="textoOculto" style="display:none;">Nuestro compromiso es llevarte a los mejores destinos naconales e internacionales, contamos con mas de 20 años de experiencia.</span> <a href="#" id="enlaceLeerMas">Leer más...</a></p>
         <div>
             <a href="{% url 'formStart' %}"><button class="btn-d">Empezar</button></a>
         </div>
    </div>
</section>
{% endblock %}