{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<section>
    <div>
        <img src="{% static 'img/PAPI-TALCUMN.jpg' %}" alt="pomada clasica">
    </div>
    <!--Texto y boton-->
    <div class="overlay-text">
        <h2 class="after-style">BARBER TALCUM</h2>
        <p>Textura extra fina adicionada con bicarbonato de sodio, elimina manlos olores, aroma fresco y suave.</p>
        <div class="after-style">
            <p>-Ideal para barbas largas</p>
            <p>-Efecto acondicionador</p>
            <p>-Suaviza, ablanda y proteje</p>
        </div>
      <p>150 gr</p>
    </div>
</section>
{% endblock %}